* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;

    background-color:#F7F7F7;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    padding: 0;
}

header .container-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header .container-logo img{
    width: 150px;
    height: 100px;
    padding:30px
}

.container-navbar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.navbar-nav .nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}

.nav-item {
  font-family: "Gotham Black", sans-serif;
  font-weight: bold;
  font-size: 18px;
  list-style-type: none;
}

.nav-item a {
    color: #555555;
    text-decoration: none;
}

.nav-item a:hover {
    color: #40CFFF;
    text-decoration: none;
}


.container-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 720px;
    background-color: #F7F7F7;

}

.container-home .home-banner {
    width: 100%;
    height: 720px;
    background-image: url(imagens/homeBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}


 .container-mapa {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #F7F7F7;
  flex-wrap: wrap;
  width: 100%; 
  box-sizing: border-box;
}

.caixa-mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 6px black;
  width: 1296px;
  height: 600px;
  padding: 15px;
  box-sizing: border-box;
  gap: 10px;
}

.google-mapa {
  width: 100%;
  height: 100%;
  border-radius: 0 0 20px 20px;
}

@media (max-width: 1296px) {
  .caixa-mapa {
    width: 90%;
    height: 600px;
  }

}



/* NOSSA EQUIPE */

.container-cards-equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color: #f7f7f7; 
    border-radius: 10px;
}

.card-equipe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    width: 350px;
    box-sizing: border-box;
}

.card-foto img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.card-informacoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-informacoes h3 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/* Estilo do Email */
.card-informacoes p {
    font-size: 14px;
    color: #555;
    margin: 0;
    word-break: break-all;
}

.linkedin-botao {
    display: inline-block;
    background-color: #0077b5;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

.linkedin-botao:hover {
    background-color: #005582;
}




footer {

  background-color: #f7f7f7;
  padding: 40px 60px 10px;
  color: #333;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}


.footer-esquerda {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

footer.footer-logo img {
    width: 200px;
    height: 200px;
  }

.footer-logos {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-logos img {
  width: 70px;
  height: auto;
  object-fit: contain;
}

.footer-descricao {
  font-size: 14px;
  color: #555;
  text-align: left;
  max-width: 300px;
}


.footer-meio {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.footer-meio h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #000;
}

.footer-meio a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-meio a:hover {
  color: #0077b6;
}


.footer-direita {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-direita h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
}

.footer-direita p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.footer-icones {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.footer-icones a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-icones a:hover {
  color: #0077b6;
}

.footer-icones .icones {
  width: 20px;
  height: 20px;
}

/* LINHA E COPYRIGHT */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 30px 0 15px;
}

.footer-baixo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.footer-baixo a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-baixo a:hover {
  color: #0077b6;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
  }

  .footer-esquerda, .footer-meio, .footer-direita {
    align-items: center;
  }

  .footer-logos {
    justify-content: center;
  }

  .footer-descricao {
    text-align: center;
  }
}